.uds-table th:first-child {
    text-align: left;
}

.uds-table td:not(first-child) {
    text-align: right;
}

#error {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
display: none;
}
#loading {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
display: block;
}


#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #d3d3d3;}

#table tr:hover {background-color: #dfd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #226633;
  color: white;
}